:root{
    --light: #FFF8E8;
    --tan: #F4EAD6;
    --yellow: #F3D03E;
}

body{
    background-color: var(--light) !important;
    font-family: Helvetica;
}

main{
    display: flex;
}

#ingredient-article{
    width: 60vw;
    margin: auto 50px;
}

#nutrition-article{
    width: 40vw;
}

@media (max-width: 768px){
    main{
        display: block;
    }

    #ingredient-article, #nutrition-article{
        width: auto;
    }
}


.section-header{
    padding-bottom: 15px;
    border-bottom: solid 1px #000;
}

.ingredient{
    all: unset;
    text-align: center;
    margin: 15px;
}

.ingredient img{
    height: 150px;
}

.ingredient img, .ingredient button{
    display: grid;
}
