:root{
    --light: #FFF8E8;
    --tan: #F4EAD6;
    --yellow: #F3D03E;
}

body{
    background-color: var(--light) !important;
    font-family: Helvetica;
}

main{
    display: flex;
}

#ingredient-section{
    width: 60vw;
}

#nutrition-section{
    width: 40vw;
}

@media (max-width: 768px){
    main{
        display: block;
    }

    #ingredient-section, #nutrition-section{
        width: auto;
    }
}

